
.property-group-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 6;
    -fx-background-color: #99ccff;
    -fx-background-radius : 0 0 0 0;
    -fx-border-width : 0 0 0 2;
    -fx-border-color : #5599cc;
}

.property-key {
    -fx-padding: 7px;
}

.bordered {
    -fx-border-radius : 15;
    -fx-border-color : #DDDDDD;
    -fx-background-radius : 15;
    -fx-background-color : #EEEEEE;
}

.flatbutton {
    -fx-border-radius : 12;
    -fx-border-color : #AAAAAA;
    -fx-background-radius : 12;
    -fx-background-color : #EEEEEE;
}

.flatbutton:hover {
    -fx-border-radius : 12;
    -fx-border-color : #AAAAAA;
    -fx-background-radius : 12;
    -fx-background-color : #FFFFFF;
}

.flatbutton:armed {
    -fx-border-radius : 12;
    -fx-border-color : #AAAAAA;
    -fx-background-radius : 12;
    -fx-background-color : #DDDDDD;
}

// For toggle buttons
.flatbutton:selected {
    -fx-border-radius : 12;
    -fx-border-color : #AAAAAA;
    -fx-background-radius : 12;
    -fx-background-color : #DDDDDD;
}

#corner {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 30 0 0 0;
    -fx-padding: 6 20 6 20;
    -fx-text-fill: #64b4ff;
    -fx-font-size: 16px;
}
#corner Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}