
.property-group-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 8;
    -fx-background-color: #888888;
}

.property-key {
    -fx-padding: 8px;
}

.bordered {
    -fx-border-radius : 15;
    -fx-border-color : #DDDDDD;
    -fx-background-radius : 15;
    -fx-background-color : #EEEEEE;
}