
body {
  background-color: #FFFFFF;
  font-family: Helvetica;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  padding: 0px;
}

h2 {
  font-size: 17px;
  color: #333333;
}
h3 {
  padding: 4px 2px 4px 2px;
  color: #003333;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #333333;
}
p {
  line-height: 1.3em;
  font-size: 12px;
  color: #000;
}

a {
  text-decoration: none;
}
a:link {
  color:#333388;
}
a:visited {
  color:#333388;
}
a:active, a:hover {
  color:#000088;
}

#navcolumn ul {
  margin: 0px 0 0px 0em;
}
#navcolumn ul a {
  color: #666666;
}
#navcolumn ul a:visited {
  color: #338888;
}
#navcolumn ul a:hover {
  color: #000088;
}


#leftColumn {
  margin: 10px 0 10px 0;
  background-color: #FFFFFF;
  border-top-color: #333333;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #333333;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #333333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-right: 2px;
  padding-left: 4px;
}

#navcolumn h5 {
  font-size: 13px;
  border-bottom: 1px solid #333333;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 0px;
  color: #336666;
}

#breadcrumbs {
  height: 14px;
  background-color: #FFFFFF;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}
